datas/datas/*
datas/transdatas/train/*
datas/transdatas/test/*
datas/dishes_dataset/train/*
datas/dishes_dataset/test/*
datas/bow_cls.txt
model/pytorch-ckpt/*.tar
model/resnet50-19c8e357.pth
.idea
__pycache__
models/__pycache__
utils/__pycache__
datasets/__pycache__
